@model MVC_HW1.Models.SuperHeroModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SuperHeroModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SuperHeroName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuperHeroName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuperHeroFlightSpeed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuperHeroFlightSpeed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuperHeroStrenghtLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuperHeroStrenghtLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuperHeroAlignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuperHeroAlignment)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
